body{
  background-color: darkgrey;
  color:white;
  /* display: flex; */
}

.page-container{
  height: 100vh;
  width: 100vw;
}


.sub-container{
  position: relative;
  display: inline-block;
}

div#sub.nav-content{
  padding:0;
}

.sub-target{
  padding: 36px
}

.sub-menu{
  background-color: rgb(77, 6, 6);
  min-width: 160px;
  margin-left: -25px;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  margin-top: 3px;
  
}

.sub-content{
  padding: 15px;
  text-align: center;
}

.sub-content:hover{
  background-color: rgb(100, 7, 7)
}

.sub-container:hover .sub-menu{
  display:block;
}


.nav-bar{
  background-color: rgb(107, 6, 6);
  display: flex;
  justify-content: flex-end;
  margin-top: -8px;
  margin-right: -8px;
  margin-left: -8px;
  
}

.nav-title{
  padding: 36px;
  margin-right: 60%;
}

.nav-content{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.nav-content{
  color: white;
}

a{
  text-decoration: none;
  padding: 20px;
  color: white;
}

.nav-content:hover{
  background-color: rgb(143, 8, 8);
}

.footer{
  background-color: rgb(107, 6, 6);
  margin: auto;
  margin-bottom: -8px;
  margin-right: -8px;
  margin-left: -8px;
}


img{
  height: 200px;
  width: 200px;
}